@model IEnumerable<InvoiceManager_ASP.NET_MVC.Models.Domains.InvoicePosition>

<div class="row">
    <h2>Pozycje faktury</h2>

    <table class="table table-hover table-striped" mt-3 mb-5>
        <thead>


        </thead>
        <tbody>


        </tbody>

    </table>


</div>